#root {
  margin: 0 auto;
  text-align: center;
  --custom-color: #A89559;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.leaflet-container {
  height: 85vh;
  border-radius: 1rem;
}

.mapContainer {
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 14px;
  border-width: 3px;
}

.main-color {
  color: #33B7CE;
}

.main-color:active {
  color: #33B7CE;
}

.border-color-main {
  border-color: #33B7CE;
}

.document-card {
  border-radius: 14px;
  border-width: 3px;
  border-color: #bbad81;
}

.bg-color-main {
  background-color: #33B7CE;
  color: white;
}

.bg-color-main-light {
  background-color: rgba(194, 202, 239, 0.8);
  color: black;
}


.btn-main {
  background-color: #33B7CE;
  color: white;
  border-color: #33B7CE;
}

.btn-logout {
  background-color: #B52C92;
  color: white;
  border-color: #B52C92;
}

.btn-document {
  background-color: #A89559;
  color: white;
  border-color: #A89559;
}

.red {
  color: red;
}

.overlay {
  position: absolute;
  bottom: 30px;
  z-index: 1000;
  box-shadow: #000000 0px 10px 20px 0px;
}

.custom-toggle .btn-outline-primary {
  color: var(--custom-color);
  border-color: var(--custom-color);
}

.custom-toggle .btn-outline-primary.active {
  background-color: var(--custom-color);
  border-color: var(--custom-color);
}