#root {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.leaflet-container {
  height: 90vh;
  width: 90%;
  border-radius: 2rem;
}
.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  border-radius: 14px;
  border-width: 3px;
}

.main-color {
  color: #33B7CE;
}

.border-color-main {
  border-color: #33B7CE;
}

.bg-color-main {
  background-color: #33B7CE;
  color:white;
}
.bg-color-main-light {
  background-color: rgba(194, 232, 239, 0.41);
  color:black;
}