#root {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.leaflet-container {
  height: 70vh;
  border-radius: 2rem;
}
.mapContainer{
  
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 14px;
  border-width: 3px;
}

.main-color {
  color: #33B7CE;
}

.border-color-main {
  border-color: #33B7CE;
}

.document-card {
  border-radius: 14px;
  border-width: 3px;
  border-color: #bbad81;
}

.bg-color-main {
  background-color: #33B7CE;
  color:white;
}
.bg-color-main-light {
  background-color: rgba(194, 232, 239, 0.41);
  color:black;
}


.btn-main {
  background-color: #33B7CE;
  color:white;
  border-color: #33B7CE;
}
.btn-logout {
  background-color: #B52C92;
  color:white;
  border-color: #B52C92;
}
.btn-document {
  background-color: #A89559;
  color:white;
  border-color: #A89559;
}

.red {
  color: red;
}

.overlay {
  position: absolute;
  bottom: 30px;
  z-index: 1000;
  box-shadow: rgba(0,0,0,30) 0px 5px 10px;
}